<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HDCAdminAppDbContext" connectionString="metadata=res://*/DAL.HDCModelApp.csdl|res://*/DAL.HDCModelApp.ssdl|res://*/DAL.HDCModelApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASHISH-PC\MSSQLSERVER12;initial catalog=DB_HDC;persist security info=True;user id=sa;password=Ashish;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>