
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <!-- Start About Us Page -->
<div class="row">
    <div class="col-md-7">
        <div class="about-slider">
            <div><img src="~/Content/images/about3.jpg" class="img-responsive" alt=""></div>
            <div><img src="~/Content/images/about4.jpg" class="img-responsive" alt=""></div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="welcome-text">
            <h3 class="section-title">The Story of Deshmukh Constructions</h3>
            <p>Deshmukh Construction was funded in 2014 and has been engaged in land acquisition and development, as well as infrastructure-related construction. </p>
            <p>The long standing mission of the company is to dedicate itself to create spaces that blend in with the surroundings and exude vitality and aesthetic appeal, making the spaces present-perfect and future-proof. </p>
            <p>The core values of the company honesty, innovation, excellence eco-friendliness, technology, sustainability, value and commitment to time schedules are perfectly aligned with the living and working spaces it builds.</p>
        </div>
    </div>
</div>

<!-- End About Us Page -->
<div class="row">
    <div class="col-md-12">
        <div class="blog-section">
            <!-- Start Post -->
            <div class="blog-post quote-post">
                <!-- Post Content -->
                <div class="post-content">
                    <div class="post-type"><i class="fa fa-quote-left"></i></div>
                    <div class="qoute-box">
                        <a href="#">
                            <h1>We provide the beauty of a building with the construction of the foundation that will stand the test of time.</h1>
                            <div class="qoute-author">Harish Deshmukh</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Post -->
</div>
