
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <!-- Start Service Page -->
<div class="row">
    <div class="col-md-12">
        <div class="default-page">
            <div class="row">
                <div class="col-md-7">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/images/running-project/running1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/running-project/running2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/running-project/running3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/running-project/running4.jpg" class="img-responsive" alt="">
                            </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div><!-- /.col-md-7 -->

                <div class="col-md-5">
                    <h4>Services that we provides</h4>
                    <p>We are here to help you in all ways we can. With the professional and excellent staff we are making your dream true. We are providing following basic services </p>
                    <div class="service-details">
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Building Construction</li>
                            <li><i class="fa fa-check-square-o"></i> Home Decorating</li>
                            <li><i class="fa fa-check-square-o"></i> Kitchen & Bathroom Fittings </li>
                            <li><i class="fa fa-check-square-o"></i> Carpentry & Plumbing</li>
                            <li><i class="fa fa-check-square-o"></i> Plastering & Tiling </li>
                            <li><i class="fa fa-check-square-o"></i> Handyman Service</li>
                            <li><i class="fa fa-check-square-o"></i> Painting Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Page -->

