
@{
    ViewBag.Title = "Sites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="SitesController" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Sites</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <table>
        <tr>
            <td>
                <label for="title" class="control-label">Company Name : </label>
            </td>
            <td>
                <ul class="nav-button list-unstyled">
                    <li class="dropdown">
                        <!--<select ng-model="merchantdetails.ForeignId" ng-options="merchant.ForeignId as  merchant.ForeignMerchantName for merchant in merchants.ResponseObject" class="Changeoptioncolor form-control" ng-change="ChangeMerchant(merchantdetails)"></select>-->
                        <div style="width:100%">
                            <button class="btn Changeoptioncolor dropdown-toggle" type="button" data-toggle="dropdown">
                                {{CompanyName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="lioptions" value="0">Select</li>
                                <div ng-repeat="company in companies">
                                    <li class="lioptions" ng-bind="company.CompanyName" ng-click="ChangeCompany(company)"></li>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>



    <div class="modal fade" id="siteModelAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add New Site</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit Site</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="addmaterialform">
                        <div class="form-group">
                            <label for="title" class="col-sm-4 control-label">Site Name</label>
                            <div class="col-sm-8">
                                <input type="text" data-ng-model="site.SiteName" class="form-control" id="title" placeholder="Site Name" required title="Enter site name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-4 control-label">Number Of Houses</label>
                            <div class="col-sm-8">
                                <input type="text" data-ng-model="site.NoOfHouse" class="form-control" id="title" placeholder="Number Of Houses" title="Enter number of houses" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-4 control-label">Default Cost</label>
                            <div class="col-sm-8">
                                <input type="text" data-ng-model="site.DefaultCost" class="form-control" id="title" placeholder="Default Cost" title="Enter default cost" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <span data-ng-hide="editMode">
                                    <input type="submit" value="Add" ng-disabled="addmaterialform.$invalid" data-ng-click="add(site)" class="btn btn-success btn-sm" />
                                </span>
                                <span data-ng-show="editMode">
                                    <input type="submit" value="Update" ng-disabled="addmaterialform.$invalid" data-ng-click="update(site)" class="btn btn-success btn-sm" />
                                </span>
                                <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary  btn-sm" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="form-inline" style="width:100%">
        <tr class="form-group" style="width:65%;">
            <td>
                <h4>Site List</h4>
            </td>
        </tr>
        <tr class="form-group" style="width:20%;">
            <td>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text" data-toggle="tooltip" data-placement="bottom" title="Filter Text">
            </td>
        </tr>
        <tr class="form-group" style="width:10%;">
            <td>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" data-toggle="tooltip" data-placement="bottom" title="Page Size">
            </td>
        </tr>
        <tr class="form-group" style="width:5%;">
            <td>
                <a data-ng-click="showadd()" href="javascript:;" class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" data-placement="bottom" title="Add Site">+</a>
            </td>
        </tr>
    </table>

    <table class="table table-hover table-bordered">
        <tr class="tableHeading">
            <th class="hidden">SiteId</th>
            <th class="hidden">CompanyId</th>
            <th>Site Name</th>
            <th class="hidden-xs">Number Of Houses</th>
            <th class="hidden-xs">Default Cost</th>
            <th>Company Name</th>
            <th>Actions</th>
        </tr>
        <tr dir-paginate="site in sites  | filter:q | itemsPerPage: pageSize" current-page="currentPage">
            <td class="hidden"><strong>{{ site.SiteId }}</strong></td>
            <td class="hidden"><strong>{{ site.CompanyId }}</strong></td>
            <td>
                <p>{{ site.SiteName }}</p>
            </td>
            <td>
                <p>{{ site.NoOfHouse }}</p>
            </td>
            <td>
                <p>{{ site.DefaultCost }}</p>
            </td>
            <td>
                <p>{{ site.CompanyName }}</p>
            </td>

            <td>
                <p>
                    <a data-ng-click="edit(site)" href="javascript:;">Edit</a> |
                    <a data-ng-click="showconfirm(site)" href="javascript:;">Delete</a>
                </p>
            </td>
        </tr>
    </table>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                </div>
                <div class="modal-body">

                    Are you sure to delete {{site.SiteName}}? <div class="hidden">{{site.SiteId}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" data-ng-click="delete(site)">Ok</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="OtherController" class="other-controller">
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../Scripts/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
